<template>
  <div class="mt-3">
    <v-card class="mt-5 mx-auto" max-width="600">
      <ValidationObserver ref="obs" v-slot="{ invalid }">
        <v-form ref="form" lazy-validation>
          <v-container>
            <v-row justify="center">
              <p cols="12" class="mt-3 display-1 grey--text">ログイン</p>
            </v-row>
            <v-row justify="center">
              <v-col cols="12" md="10" sm="10">
                <ValidationProvider v-slot="{ errors }" rules="required|email">
                  <v-text-field v-model="email" label="Eメールアドレス" />
                  <p v-show="errors.length" class="help is-danger">
                    {{ errors[0] }}
                  </p>
                </ValidationProvider>
                <p class="caption mb-0" />
              </v-col>
            </v-row>
            <v-row justify="center">
              <v-col cols="12" md="10" sm="10">
                <ValidationProvider v-slot="{ errors }" rules="required">
                  <v-text-field
                    v-model="password"
                    type="password"
                    label="パスワード"
                  />
                  <p v-show="errors.length" class="help is-danger">
                    {{ errors[0] }}
                  </p>
                </ValidationProvider>
              </v-col>
            </v-row>
            <v-row justify="center">
              <v-col cols="12" md="10" sm="10">
                <v-btn
                  block
                  class="mr-4 blue white--text"
                  :disabled="invalid"
                  @click="loginWithAuthModule"
                >
                  ログイン
                </v-btn>
                <p v-show="invalid">全て入力するとログインボタンを押せます</p>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </ValidationObserver>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export interface NuxtContext {
  response: Response
}

export default Vue.extend({
  data() {
    return {
      email: '' as string,
      password: '' as string,
    }
  },
  methods: {
    async loginWithAuthModule() {
      await this.$auth
        .loginWith('local', {
          data: {
            email: this.email,
            password: this.password,
          },
        })
        .then(
          (response: Response) => {
            console.log(response)
            window.alert('ログインに成功しました！！')
            return response
          },
          (error: string) => {
            window.alert(
              'パスワードもしくはメールアドレスが間違っているためログイン出来ません。'
            )
            return error
          }
        )
    },
  },
})
</script>
