<template>
  <v-container>
    <v-card width="400px" class="mx-auto mt-5">
      <v-card-title>
        <h1 class="display-1">新規登録</h1>
      </v-card-title>
      <v-card-text>
        <ValidationObserver ref="obs" v-slot="{ invalid }">
          <v-form ref="form" lazy-validation>
            <ValidationProvider v-slot="{ errors }" rules="required|email">
              <v-text-field
                v-model="user.email"
                prepend-icon="mdi-email"
                label="メールアドレス"
              />
              <p v-show="errors.length" class="help is-danger">
                {{ errors[0] }}
              </p>
            </ValidationProvider>
            <ValidationProvider v-slot="{ errors }" rules="required">
              <v-text-field
                v-model="user.password"
                prepend-icon="mdi-lock"
                append-icon="mdi-eye-off"
                label="パスワード"
              />
              <p v-show="errors.length" class="help is-danger">
                {{ errors[0] }}
              </p>
            </ValidationProvider>
            <ValidationProvider v-slot="{ errors }" rules="required">
              <v-text-field
                v-model="user.password_confirmation"
                prepend-icon="mdi-lock"
                append-icon="mdi-eye-off"
                label="パスワード確認"
              />
              <p v-show="errors.length" class="help is-danger">
                {{ errors[0] }}
              </p>
            </ValidationProvider>
            <v-card-actions>
              <v-btn
                color="light-green darken-1"
                class="white--text"
                :disabled="invalid"
                @click="registerUser"
              >
                新規登録
              </v-btn>
              <p v-show="invalid">全て入力すると登録ボタンを押せます！</p>
            </v-card-actions>
          </v-form>
        </ValidationObserver>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  // @ts-ignore
  auth: false,
  data() {
    return {
      user: {
        password: '',
        email: '',
        password_confirmation: '',
      },
    }
  },
  methods: {
    registerUser(): void {
      this.$axios.post('/api/v1/auth', this.user).then(() => {
        window.location.href = '/users/login'
      })
    },
  },
})
</script>
